<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="UTF-8">
    <title>boardSystem</title>
  </head>
  <body>
    <h1>낙서해주세요</h1>
    <hr>

    <form action ="/board" method="POST">
    <table>
      <tr>
        <td><input type = "text" name="inputTitle" placeholder="건의사항"></td>
      </tr>
      <tr>
        <td><input type = "text" name="inputWriter" placeholder="애로사항"></td>
      </tr>

    </table>
    <input type = "submit" value="Send">
    </form>
  </body>
</html>